#legal_page {
    h1 {
        margin-bottom:0.5em;
    }

    h2 {
        font-size:1.6em;
        font-weight:400;
        color:#222;
        border-bottom:1px solid #aaa;
    }

    p {
        font-size:1.6em;
        color:#555;
        font-family:Georgia;
        margin-bottom:0.5em;
    }

    li span {
        font-size:1.4em;
        color:#555;
        font-family:Georgia;
        font-weight:600;
    }

    ol li {
        list-style-type:lower-roman;
    }
}