$_color_medium_beige:#DADAD2;
$_color_red:#FF5040;
$_color_blue:#64bce1;
$_color_orange:#FF5040;
$_color_salmon:#f79f96;

$response_background:$_color_medium_beige;
$warn_text_color:$_color_red;
$warn_border_color:$_color_red;
$focus_border_color:$_color_blue;
$attention_color:$_color_orange;
$link_color:$_color_blue;
$external_link_color:$_color_orange;
$hr_color:$_color_salmon;
$rectangle_tool_selected_color:$_color_red * 1.7;
