body {
	font-family:Arial, Helvetica, sans-serif;
}



:link,:visited,.link {
  cursor: pointer;
  text-decoration: underline;
  color: hsla(213, 90%, 24%, 0.5);
  -moz-appearance: none;
  border: 0;
  background: none;
}
 
.link-color {
  color: hsl(213, 90%, 24%);
  text-decoration: none;
}
 
.hide {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
}
 

ul {
	list-style-type:none;
}


