<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/*.xml</param-value>
	</context-param>
    <session-config>
        <session-timeout>100</session-timeout>
    </session-config>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.sbox.config.InitServlet</servlet-class>
		<init-param>
			<param-name>conPath</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
<!--	<listener>-->
<!--		<listener-class>com.sbox.security.OgnlSecurityListener</listener-class>-->
<!--	</listener>-->
	<!-- URLrewriter 配置 -->
	<filter>
	<filter-name>UrlRewriteFilter</filter-name>
	<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	<init-param>
		<param-name>confReloadCheckInterval</param-name>
		<param-value>60</param-value>
	</init-param>
	<init-param>
		<param-name>confPath</param-name>
		<param-value>/WEB-INF/urlrewrite.xml</param-value>
	</init-param>
	<init-param>
		<param-name>logLevel</param-name>
		<param-value>WARN</param-value>
	</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
    	<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
<!--	<filter>-->
<!--		<filter-name>sessionFilter</filter-name>-->
<!--		<filter-class>com.sbox.config.SessionFilter</filter-class>-->
<!--		<init-param>-->
<!--			<param-name>loginUrl</param-name>-->
<!--			<param-value>/login.jsp</param-value>-->
<!--		</init-param>-->
<!--		<init-param>-->
<!--			<param-name>index</param-name>-->
<!--			<param-value>/index.jsp</param-value>-->
<!--		</init-param>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>sessionFilter</filter-name>-->
<!--		<url-pattern>/*.jsp</url-pattern>-->
<!--		<dispatcher>REQUEST</dispatcher>-->
<!--		<dispatcher>FORWARD</dispatcher>-->
<!--	</filter-mapping>-->
<!-- 	<filter>
		<filter-name>action2-cleanup</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ActionContextCleanUp
		</filter-class>
	</filter>
	<filter-mapping>
        <filter-name>action2-cleanup</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*.action</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Listeners -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<error-page>   
	  <error-code>404</error-code>
	  <location>/404.jsp</location>
	</error-page> 
	<error-page>   
	  <error-code>500</error-code>
	  <location>/404.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>