extends ../common/base

block css
    link(rel="stylesheet", href="https://s3.amazonaws.com/get-creative/css/extension-012113.min.css")

block javascript
    script(src="https://s3.amazonaws.com/get-creative/js/extension-012113.min.js")
