.address-view{background:url(../img/organize-sep.png) repeat-y 0 0;}
.address-view .address-legend{height:50px; line-height:50px; background:#F1F1F1; padding:0 30px; font-size:16px; float:left;}
.group-member .navigation{float:none; padding:10px 0 16px 0; height:16px; line-height:16px; vertical-align: middle; _display:inline; zoom:1;margin-left:0px;}