extends ../common/base

block extra_meta
    link(rel="chrome-webstore-item", href="https://chrome.google.com/webstore/detail/adlpjklkhpppgbjnjbpnbakhjiobkfgp")

block extra_css
    link(rel="stylesheet", href="/css/web_defaults.css")

block extra_javascript
    script(src="/js/web_only.js")
