<div id="okc_crawler_buttons">
    <button id="okc_crawler_crawl">Crawl</button>
    <button id="okc_crawler_resume">Resume Crawl</button>
    <div class="crawldata">
        <button id="okc_crawler_submit">Submit Crawl Data</button>
        <button id="okc_crawler_stop">Clear Crawl Data</button>
        <p>Crawled users: <span class="crawl_count"></span></p>
    </div>
</div>
<div id="okc_crawler_crawling">
    <h2>Getting Users!</h2>
</div>