#about_page
    h1
        span.icon.challenge_icon
        | About Get Creative
    p
        | Get Creative is a Chrome extension that aims to help
        | you make something creative every day. You'll get a notification
        | when new challenges are available once a day, and a star
        | for each challenge when you complete it.
    p
        | If you enjoy Get Creative, please tell your friends about it
        a(href="https://twitter.com/intent/tweet?text=#{tweet_message}").js_external_link
            | on Twitter.
