script(src="/js/ga.js")
script(src="/js/jquery-1.8.2.min.js")
script(src="/js/jquery-ui-1.9.2.custom.min.js")
script(src="/js/jquery.path.js")
script(src="/js/jquery.autosize.js")
script(src="/js/jquery.webcam.js")
script(src="/js/animations.js")
script(src="/js/feedback.js")
script(src="/js/storage.js")
script(src="/js/tools/tool.js")
script(src="/js/tools/textarea.js")
script(src="/js/tools/collager.js")
script(src="/js/tools/harmony.js")
script(src="/js/tools/webcam.js")
script(src="/js/tools/shapes.js")
script(src="/js/tools/rectangles.js")
script(src="/js/pages.js")
script(src="/js/get_creative.js")
script(src="/js/init.js")
