div.login
    label(for="js_login_username") Username
    input(type="text")#js_login_username
    label(for="js_login_password") Password
    input(type="password")#js_login_password
    br
    button#js_login_button.submit Log In
    span.form_feedback
